<div class="ft frosh-tab-statistics">
    <ft-page-head
        :title="$t('frosh-tools.tabs.statistics.title')"
        :subtitle="$t('frosh-tools.tabs.statistics.subtitle')"
    >
        <template #actions>
            <ft-refresh-button
                :loading="isLoading"
                :label="$t('frosh-tools.tabs.statistics.refresh')"
                @click="loadData"
            />
        </template>
    </ft-page-head>

    <!-- OPcache -->
    <ft-panel
        v-if="cacheStats && cacheStats.opcache"
    >
        <template #title>
            <ft-icon name="bolt"/>
            <span>OPcache</span>
        </template>
        <div class="frosh-tab-statistics__metrics">
            <div class="frosh-stat frosh-stat--feature">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.hitRate') }}
                </div>
                <div :class="['frosh-stat__value', 'frosh-stat__value--' + hitRateVariant(cacheStats.opcache.hitRate)]">
                    {{ formatPercent(cacheStats.opcache.hitRate) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + hitRateVariant(cacheStats.opcache.hitRate)]"
                        :style="{ width: clampPercent(cacheStats.opcache.hitRate) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.hits') }} / {{ $t('frosh-tools.tabs.statistics.misses') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(cacheStats.opcache.hits) }} / {{ formatNumber(cacheStats.opcache.misses) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.usedMemory') }} / {{ $t('frosh-tools.tabs.statistics.totalMemory') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(cacheStats.opcache.usedMemory) }} / {{ formatSize(cacheStats.opcache.usedMemory + cacheStats.opcache.freeMemory) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + fillVariant(ratioPercent(cacheStats.opcache.usedMemory, cacheStats.opcache.usedMemory + cacheStats.opcache.freeMemory))]"
                        :style="{ width: ratioPercent(cacheStats.opcache.usedMemory, cacheStats.opcache.usedMemory + cacheStats.opcache.freeMemory) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.cachedScripts') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(cacheStats.opcache.cachedScripts) }}
                    <template v-if="cacheStats.opcache.maxCachedScripts > 0">
                        / {{ formatNumber(cacheStats.opcache.maxCachedScripts) }}
                    </template>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.wastedMemory') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(cacheStats.opcache.wastedMemory) }} ({{ formatPercent(cacheStats.opcache.wastedPercentage) }})
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.internedStrings') }}
                    ({{ $t('frosh-tools.tabs.statistics.usedMemory') }} / {{ $t('frosh-tools.tabs.statistics.totalMemory') }})
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(cacheStats.opcache.internedStringsUsedMemory) }} / {{ formatSize(cacheStats.opcache.internedStringsUsedMemory + cacheStats.opcache.internedStringsFreeMemory) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + fillVariant(ratioPercent(cacheStats.opcache.internedStringsUsedMemory, cacheStats.opcache.internedStringsUsedMemory + cacheStats.opcache.internedStringsFreeMemory))]"
                        :style="{ width: ratioPercent(cacheStats.opcache.internedStringsUsedMemory, cacheStats.opcache.internedStringsUsedMemory + cacheStats.opcache.internedStringsFreeMemory) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.lastRestart') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatDateTime(cacheStats.opcache.lastRestart) || $t('frosh-tools.tabs.statistics.never') }}
                </div>
            </div>
        </div>
    </ft-panel>
    <ft-panel
        v-else-if="cacheStats && !cacheStats.opcache"
    >
        <template #title>
            <ft-icon name="bolt"/>
            <span>OPcache</span>
        </template>
        <ft-empty :title="'OPcache: ' + $t('frosh-tools.tabs.statistics.notAvailable')"/>
    </ft-panel>

    <!-- Redis -->
    <ft-panel
        v-for="redis in (cacheStats ? cacheStats.redis : [])"
        :key="redis.name"
    >
        <template #title>
            <ft-icon name="flow"/>
            <span>Redis: {{ redis.name }}</span>
        </template>
        <div class="frosh-tab-statistics__metrics">
            <div class="frosh-stat frosh-stat--feature">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.hitRate') }}
                </div>
                <div :class="['frosh-stat__value', 'frosh-stat__value--' + hitRateVariant(redis.hitRate)]">
                    {{ formatPercent(redis.hitRate) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + hitRateVariant(redis.hitRate)]"
                        :style="{ width: clampPercent(redis.hitRate) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.hits') }} / {{ $t('frosh-tools.tabs.statistics.misses') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(redis.hits) }} / {{ formatNumber(redis.misses) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.usedMemory') }} / {{ $t('frosh-tools.tabs.statistics.maxMemory') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(redis.usedMemory) }}
                    <template v-if="redis.maxMemory > 0">
                        / {{ formatSize(redis.maxMemory) }}
                    </template>
                </div>
                <div
                    v-if="redis.maxMemory > 0"
                    class="frosh-meter"
                >
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + fillVariant(ratioPercent(redis.usedMemory, redis.maxMemory))]"
                        :style="{ width: ratioPercent(redis.usedMemory, redis.maxMemory) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.peakMemory') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(redis.peakMemory) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.totalKeys') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(redis.totalKeys) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.evictedKeys') }} / {{ $t('frosh-tools.tabs.statistics.expiredKeys') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(redis.evictedKeys) }} / {{ formatNumber(redis.expiredKeys) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.opsPerSec') }} / {{ $t('frosh-tools.tabs.statistics.connectedClients') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(redis.opsPerSec) }} / {{ formatNumber(redis.connectedClients) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.version') }} / {{ $t('frosh-tools.tabs.statistics.uptime') }}
                </div>
                <div class="frosh-stat__value">
                    {{ redis.version }} / {{ formatUptime(redis.uptime) }}
                </div>
            </div>
        </div>
    </ft-panel>

    <!-- APCu -->
    <ft-panel
        v-if="cacheStats && cacheStats.apcu"
    >
        <template #title>
            <ft-icon name="bolt"/>
            <span>APCu</span>
        </template>
        <div class="frosh-tab-statistics__metrics">
            <div class="frosh-stat frosh-stat--feature">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.hitRate') }}
                </div>
                <div :class="['frosh-stat__value', 'frosh-stat__value--' + hitRateVariant(cacheStats.apcu.hitRate)]">
                    {{ formatPercent(cacheStats.apcu.hitRate) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + hitRateVariant(cacheStats.apcu.hitRate)]"
                        :style="{ width: clampPercent(cacheStats.apcu.hitRate) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.hits') }} / {{ $t('frosh-tools.tabs.statistics.misses') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(cacheStats.apcu.hits) }} / {{ formatNumber(cacheStats.apcu.misses) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.usedMemory') }} / {{ $t('frosh-tools.tabs.statistics.totalMemory') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(cacheStats.apcu.usedMemory) }} / {{ formatSize(cacheStats.apcu.usedMemory + cacheStats.apcu.availableMemory) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + fillVariant(ratioPercent(cacheStats.apcu.usedMemory, cacheStats.apcu.usedMemory + cacheStats.apcu.availableMemory))]"
                        :style="{ width: ratioPercent(cacheStats.apcu.usedMemory, cacheStats.apcu.usedMemory + cacheStats.apcu.availableMemory) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.entries') }} / {{ $t('frosh-tools.tabs.statistics.fragmentation') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(cacheStats.apcu.entries) }} / {{ formatPercent(cacheStats.apcu.fragmentation) }}
                </div>
            </div>
        </div>
    </ft-panel>

    <!-- Database Server Info -->
    <ft-panel
        v-if="dbStats"
    >
        <template #title>
            <ft-icon name="chart"/>
            <span>{{ $t('frosh-tools.tabs.statistics.serverInfo') }}</span>
        </template>
        <div class="frosh-tab-statistics__metrics">
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.version') }}
                </div>
                <div class="frosh-stat__value">
                    {{ dbStats.server.version }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.uptime') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatUptime(dbStats.server.uptime) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.queriesPerSecond') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatDecimal(dbStats.server.queriesPerSecond) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.threads') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(dbStats.server.threads) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.slowQueries') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(dbStats.server.slowQueries) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.totalQueries') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(dbStats.server.questions) }}
                </div>
            </div>
        </div>
    </ft-panel>

    <!-- InnoDB Buffer Pool -->
    <ft-panel
        v-if="dbStats && dbStats.globalStatus"
    >
        <template #title>
            <ft-icon name="chart"/>
            <span>{{ $t('frosh-tools.tabs.statistics.bufferPool') }}</span>
        </template>
        <div class="frosh-tab-statistics__metrics">
            <div class="frosh-stat frosh-stat--feature">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.bufferPoolHitRate') }}
                </div>
                <div :class="['frosh-stat__value', 'frosh-stat__value--' + hitRateVariant(dbStats.globalStatus.bufferPoolHitRate)]">
                    {{ formatPercent(dbStats.globalStatus.bufferPoolHitRate) }}
                </div>
                <div class="frosh-meter">
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + hitRateVariant(dbStats.globalStatus.bufferPoolHitRate)]"
                        :style="{ width: clampPercent(dbStats.globalStatus.bufferPoolHitRate) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.usedMemory') }} / {{ $t('frosh-tools.tabs.statistics.totalMemory') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatSize(dbStats.globalStatus.bufferPoolUsed) }} / {{ formatSize(dbStats.globalStatus.bufferPoolSize) }}
                </div>
                <div
                    v-if="dbStats.globalStatus.bufferPoolSize > 0"
                    class="frosh-meter"
                >
                    <div
                        :class="['frosh-meter__fill', 'frosh-meter__fill--' + fillVariant(ratioPercent(dbStats.globalStatus.bufferPoolUsed, dbStats.globalStatus.bufferPoolSize))]"
                        :style="{ width: ratioPercent(dbStats.globalStatus.bufferPoolUsed, dbStats.globalStatus.bufferPoolSize) + '%' }"
                    ></div>
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.threadsConnected') }} / {{ $t('frosh-tools.tabs.statistics.threadsRunning') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(dbStats.globalStatus.threadsConnected) }} / {{ formatNumber(dbStats.globalStatus.threadsRunning) }}
                </div>
            </div>
            <div class="frosh-stat">
                <div class="frosh-stat__label">
                    {{ $t('frosh-tools.tabs.statistics.tmpDiskTables') }} / {{ $t('frosh-tools.tabs.statistics.tmpTables') }}
                </div>
                <div class="frosh-stat__value">
                    {{ formatNumber(dbStats.globalStatus.tmpDiskTables) }} / {{ formatNumber(dbStats.globalStatus.tmpTables) }}
                </div>
            </div>
        </div>
    </ft-panel>

    <!-- Table Sizes -->
    <ft-panel
        v-if="dbStats && dbStats.tables"
        :count="dbStats.tables.length"
        flush
    >
        <template #title>
            <ft-icon name="chart"/>
            <span>{{ $t('frosh-tools.tabs.statistics.tableStatistics') }}</span>
        </template>
        <ft-empty
            v-if="!dbStats.tables.length"
            :title="$t('frosh-tools.tabs.statistics.tableStatistics')"
        />
        <div
            v-else
            class="ft-table-wrap"
        >
            <table class="ft-table">
                <thead>
                    <tr>
                        <th>{{ $t('frosh-tools.tabs.statistics.tableName') }}</th>
                        <th>{{ $t('frosh-tools.tabs.statistics.engine') }}</th>
                        <th class="ft-table__num">{{ $t('frosh-tools.tabs.statistics.rows') }}</th>
                        <th class="ft-table__num">{{ $t('frosh-tools.tabs.statistics.dataSize') }}</th>
                        <th class="ft-table__num">{{ $t('frosh-tools.tabs.statistics.indexSize') }}</th>
                        <th class="ft-table__num">{{ $t('frosh-tools.tabs.statistics.totalSize') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="table in dbStats.tables"
                        :key="table.name"
                    >
                        <td class="ft-table__name ft-mono">{{ table.name }}</td>
                        <td>
                            <ft-pill
                                v-if="table.engine"
                                variant="muted"
                                bare
                            >{{ table.engine }}</ft-pill>
                            <template v-else>—</template>
                        </td>
                        <td class="ft-table__num">{{ formatNumber(table.rows) }}</td>
                        <td class="ft-table__num">{{ formatSize(table.dataSize) }}</td>
                        <td class="ft-table__num">{{ formatSize(table.indexSize) }}</td>
                        <td class="ft-table__num">
                            <div class="frosh-size-cell">
                                <span>{{ formatSize(table.totalSize) }}</span>
                                <span class="frosh-size-cell__bar">
                                    <span
                                        class="frosh-size-cell__fill"
                                        :style="{ width: tableSizeWidth(table.totalSize) + '%' }"
                                    ></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ft-panel>

    <ft-empty
        v-if="isLoading && !cacheStats && !dbStats"
        loading
    />
    <ft-panel v-else-if="!isLoading && !cacheStats && !dbStats">
        <ft-hero-state
            variant="danger"
            icon="alert"
            :title="$t('frosh-tools.tabs.statistics.notAvailable')"
            :body="$t('frosh-tools.tabs.statistics.loadError')"
        />
    </ft-panel>
</div>
